{% extends 'Layout.html.twig' %}

{#      the view title      #}
{% block title controller_name %}

{#      The view style sheet    #}
{% block stylesheets %}
{% endblock %}


{#      the title h1 of the view   #}
{% block h1 "Hello "~ controller_name %}

{% block body %}

<div id="content" class="bg-white container-fluid  pb-5"  style="overflow: auto" >

    {% block content %}
    Page index
    {% endblock %}

</div>
{% endblock %}


{#      The view JavaScript    #}
{% block javascripts %}{% endblock %}
